# Ignore node_modules, as they will be installed inside the container
node_modules

# Ignore local build outputs
.next

# Ignore local environment files
.env*
!/.env.example

# Ignore Docker files
Dockerfile
docker-compose.yml

# Ignore Git files
.git
.gitignore

# Ignore VSCode and other editor/OS files
.vscode/
README.md
*.log
